<article class="about active" data-page="sobre">
  <section class="profile">
    <div class="sidebar-info">
      <figure class="avatar-box">
        <img src="./assets/images/Perfil_redondo.png" alt="Gustavo F. Lima | Projetos">
      </figure>
      <div class="info-content">
        <h1 class="name" title="Gustavo F. Lima | Projetos">Gustavo F. Lima | Projetos</h1>
        <p class="title">Engenheiro de dados</p>
      </div>
    </div>
    <div class="sidebar-info_more">
      <div class="separator"></div>
      <ul class="contacts-list">
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">E-mail</p>
            <a href="mailto:adm.gustavo.lima@live.com" class="contact-link">adm.gustavo.lima@live.com</a>
          </div>
        </li>
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="phone-portrait-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">Celular</p>
            <a href="tel:+55 (19) 9 9547-7044" class="contact-link">+55 (19) 9 9547-7044</a>
          </div>
        </li>
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">Localização</p>
            <address>Campinas, São Paulo, Brasil</address>
          </div>
        </li>
      </ul>
      <div class="separator"></div>
      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.linkedin.com/in/gustavo-lima-007/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="social-item">
          <a href="https://github.com/gustavolima007" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <header>
    <h2 class="h2 article-title">Sobre mim</h2>
  </header>
  <section class="about-text">
    <p>🚀 Engenheiro de Dados | Oracle SQL | GCP | Microsoft Fabric</p>
    <p>Desenvolvimento SQL em ambientes de alta performance, automações RPA e agentes de IA.</p>
    <p> ✨ Transformando dados em insights. </p>
    <p> 📚 Atualmente aprendendo serviços avançados do GCP e buscando certificação Fabric. </p>
    <p> 🎯 Metas: Dominar soluções de dados em tempo real e expandir minha expertise em engenharia de dados. </p>
    <p> 🎲 Curiosidade: Amo otimizar consultas SQL complexas! </p>
  </section>
  <!--
  - serviços
  -->
  <section class="service">
    <h3 class="h3 service-title">O que eu faço</h3>
    <ul class="service-list">
      <li class="service-item">
        <div class="service-icon-box">
          <img src="./assets/images/fabric.png" alt="Microsoft Fabric" width="80">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Microsoft Fabric</h4>
          <p class="service-item-text"> Soluções de ponta a ponta em engenharia e ciência de dados.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="./assets/images/powerbi.png" alt="Power BI" width="80">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Power BI</h4>
          <p class="service-item-text"> Criação de dashboards interativos e relatórios analíticos.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="./assets/images/Oracle_SQL.png" alt="Oracle SQL" width="80">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Oracle SQL</h4>
          <p class="service-item-text"> Otimização de queries e modelagem de bancos de dados relacionais.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="./assets/images/copilot-fotor.png" alt="AI Copilot" width="80">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">IA com Copilot</h4>
          <p class="service-item-text"> Desenvolvimento de agentes de IA e automações inteligentes.
          </p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-icon-box">
          <img src="./assets/images/chatGPT.png" alt="ChatGPT" width="80">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">ChatGPT</h4>
          <p class="service-item-text"> Integração e automação com modelos de linguagem avançados.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <section class="skill">
    <h3 class="h3 skills-title">Minhas habilidades</h3>
    <ul class="skills-list content-card">
      <!-- Habilidades atualizadas -->
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Microsoft Fabric</h5>
          <data value="70">70%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 70%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">SQL Oracle</h5>
          <data value="85">85%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 85%;"></div>
        </div>
      </li>
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Google Cloud</h5>
          <data value="50">50%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%;"></div>
        </div>
      </li>
      <!-- Adicionando mais habilidades -->
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Python</h5>
          <data value="40">40%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 40%;"></div>
        </div>
      </li>
      <!-- Adicionando mais habilidades -->
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Apache Spark</h5>
          <data value="50">50%</data>
        </div>
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%;"></div>
        </div>
      </li>
    </ul>
  </section>
</article>