<article class="portfolio" data-page="portfólio">
  <header>
    <h2 class="h2 article-title">Projetos_GL</h2>
  </header>
  <section class="projects">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>Todos</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Ciência de Dados</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Engenharia de Dados</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Inteligência Artificial</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Microsoft Fabric</button>
      </li>
      <li class="filter-item">
        <button data-filter-btn>Google Cloud (GCP)</button>
      </li>
    </ul>
    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>Todos</button>
        </li>
        <li class="select-item">
          <button data-select-item>Ciência de Dados</button>
        </li>
        <li class="select-item">
          <button data-select-item>Engenharia de Dados</button>
        </li>
        <li class="select-item">
          <button data-select-item>Inteligência Artificial</button>
        </li>
        <li class="select-item">
          <button data-select-item>Microsoft Fabric</button>
        </li>
        <li class="select-item">
          <button data-select-item>Google Cloud (GCP)</button>
        </li>
      </ul>
    </div>
    <ul class="project-list">

      <li class="project-item active" data-filter-item data-category="ciência de dados">
        <a href="https://github.com/gustavolima007/python-data-science.git" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/project-1.jpg" alt="Ciência de Dados com Python" loading="lazy">
          </figure>
          <h3 class="project-title">Ciência de Dados com Python</h3>
          <p class="project-category">Ciência de Dados</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="engenharia de dados">
        <a href="https://github.com/gustavolima007/Unicamp_Engenharia-banco-de-dados/blob/main/README.md" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/project-2.png" alt="Pós em Especialização Engenharia de Banco de Dados - Unicamp" loading="lazy">
          </figure>
          <h3 class="project-title">Pós em Especialização Engenharia de Banco de Dados - Unicamp</h3>
          <p class="project-category">Engenharia de Dados</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="inteligência artificial">
        <a href="https://github.com/gustavolima007/Bootcamp_Heineken-IA-Aplicada-a-Dados-com-Copilot/blob/main/README.md" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/project-3.jpg" alt="Bootcamp Heineken - Inteligência Artificial Aplicada a Dados com Copilot" loading="lazy">
          </figure>
          <h3 class="project-title">Bootcamp Heineken - IA Aplicada a Dados com Copilot</h3>
          <p class="project-category">Inteligência Artificial</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="microsoft fabric">
        <a href="https://github.com/gustavolima007/microsoft-fabric-data-engineering.git" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/project-4.png" alt="Microsoft Fabric Data Engineering" loading="lazy">
          </figure>
          <h3 class="project-title">Microsoft Fabric Data Engineering</h3>
          <p class="project-category">Microsoft Fabric</p>
        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="google cloud (gcp)">
        <a href="https://github.com/gustavolima007/gcp-bigquery-python.git" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./assets/images/project-5.png" alt="Google Cloud Platform - BigQuery com Python" loading="lazy">
          </figure>
          <h3 class="project-title">Google Cloud Platform - BigQuery com Python</h3>
          <p class="project-category">Google Cloud (GCP)</p>
        </a>
      </li>

    </ul>
  </section>
</article>