<article class="resume" data-page="currículo">
  <header>
    <h2 class="h2 article-title">Currículo</h2>
  </header>
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Formação Acadêmica</h3>
    </div>
    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">UNICAMP - Universidade Estadual de Campinas</h4>
        <span>Pós-graduação Lato Sensu - Especialização, Engenharia e Administração de Sistemas de Banco de
          Dados</span>
        <span>nov de 2023 - nov de 2025</span>
        <p class="timeline-text"> Disciplinas: Engenharia de Dados (pré e pós); Administração de Dados;
          Segurança;
          Arquitetura; Ciência dos Dados; Gestão de Dados. <br>Competências: Comunicação Eficaz, Análise de
          dados,
          Banco de dados Oracle e Microsoft SQL Server </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Centro Universitário UniMetrocamp</h4>
        <span>Análise e Desenvolvimento de Sistemas</span>
        <span>jan de 2016 - nov de 2018</span>
        <p class="timeline-text"> Formação focada em desenvolvimento de software, análise de sistemas e gestão
          de
          projetos. </p>
      </li>
    </ol>
  </section>
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Experiência</h3>
    </div>
    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Engenheiro de Dados II</h4>
        <span>set de 2024 — Presente</span>
        <p class="timeline-text"> Oba Hortifruti, Sumaré, São Paulo, Brasil · Presencial <br>Competências:
          Microsoft
          Fabric, Comunicação Eficaz, Google Cloud Platform (GCP) e Microsoft Power BI </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Analista de Sistemas</h4>
        <span>dez de 2022 — out de 2024</span>
        <p class="timeline-text"> Campinas, São Paulo, Brasil · Híbrida <br>- Condução de reuniões semanais com
          equipes da logística e comercial para otimização de processos. <br>- Atendimento eficaz de chamados e
          tickets. <br>- Desenvolvimento e modificações de consultas (Query view). <br>- Análise dos sistemas
          ERP
          Consinco da TOTVS e sistemas internos. <br>- Análises de relatórios utilizando banco de dados Oracle.
          <br>- Implementação de projetos no sistema WMS para logística e setor comercial. <br>Competências:
          ERP,
          Trabalho em equipe, Banco de dados Oracle e Habilidades analíticas
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Analista de Suporte de TI Pleno</h4>
        <span>jun de 2022 — dez de 2022</span>
        <p class="timeline-text"> MPJ Solutions, Campinas, São Paulo, Brasil · Híbrida <br>- Administração de
          contas
          e permissões nos sistemas ERP TOTVS Consinco e Fluig. <br>- Configuração e resolução de problemas em
          terminais PDV. <br>- Gerenciamento de dispositivos como balanças e impressoras. <br>- Configuração de
          redes internas e externas. <br>Competências: ERP, Trabalho em equipe e Comunicação Eficaz </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Analista de Suporte de TI</h4>
        <span>fev de 2019 — jun de 2022</span>
        <p class="timeline-text"> Greentech - Locação Intralogística, Campinas, São Paulo, Brasil · Presencial
          <br>-
          Manutenção de coletores, leitores e impressoras térmicas. <br>- Realização de visitas técnicas para
          manutenção e treinamento. <br>- Configuração de equipamentos da empresa. <br>- Gerenciamento do
          estoque.
          <br>Competências: Suporte técnico, Suporte de hardware TI e Administração de sistemas
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Técnico de Suporte em TI</h4>
        <span>ago de 2016 — mar de 2017</span>
        <p class="timeline-text"> Getway Automação Comercial, Campinas e Região, Brasil · Tempo integral <br>-
          Suporte de nível 1 para sistemas PDV e software de gestão. <br>- Utilização de ferramentas remotas
          para
          solucionar problemas. <br>- Foco na satisfação do cliente. </p>
      </li>
    </ol>
  </section>
  
</article>